<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Programmer -> Gustavo Andrés Angulo Diego Cordero, System -> Ghost_Garbage , Framework -> Django , Template ->http://www.freecsstemplates.org " />
    <title>{% block title %}Ghost Garbage{% endblock %}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    {% block css %}
    <link rel="stylesheet" href="{{ MEDIA_URL|safe }}css/style-ghost.css" type="text/css" />
    {% endblock %}

    {% block js %}
    {% endblock %}
    <!--[if lt IE 7]>
<script language="JavaScript">
function correctPNG() // correctly handle PNG transparency in Win IE 5.5 & 6.
{
   var arVersion = navigator.appVersion.split("MSIE")
   var version = parseFloat(arVersion[1])
   if ((version >= 5.5) && (document.body.filters)) 
   {
      for(var i=0; i<document.images.length; i++)
      {
         var img = document.images[i]
         var imgName = img.src.toUpperCase()
         if (imgName.substring(imgName.length-3, imgName.length) == "PNG")
         {
            var imgID = (img.id) ? "id='" + img.id + "' " : ""
            var imgClass = (img.className) ? "class='" + img.className + "' " : ""
            var imgTitle = (img.title) ? "title='" + img.title + "' " : "title='" + img.alt + "' "
            var imgStyle = "display:inline-block;" + img.style.cssText 
            if (img.align == "left") imgStyle = "float:left;" + imgStyle
            if (img.align == "right") imgStyle = "float:right;" + imgStyle
            if (img.parentElement.href) imgStyle = "cursor:hand;" + imgStyle
            var strNewHTML = "<span " + imgID + imgClass + imgTitle
            + " style=\"" + "width:" + img.width + "px; height:" + img.height + "px;" + imgStyle + ";"
            + "filter:progid:DXImageTransform.Microsoft.AlphaImageLoader"
            + "(src=\'" + img.src + "\', sizingMethod='scale');\"></span>" 
            img.outerHTML = strNewHTML
            i = i-1
         }
      }
   }    
}
window.attachEvent("onload", correctPNG);
</script>
<![endif]-->

  </head>
  {% block body %}
  <body>
    {% endblock %}
    <div id="outer">
      <div id="header">
        <div style="position:relative; z-index:1; width: 15em; float:left; margin-top:-2em; margin-right:-30em;margin-left:3em;"><img src="{{ MEDIA_URL|safe }}media/logo.png"></div>
          <h1>Ghost Garbage</h1>
          <h2>by Lodur and Woakas</h2>
          <div class="subheader" >
            {% if user.is_authenticated %}
             <a href="{% url user_settings %}" title="{{ user.username }}">{{ user.username }}</a> | <a href="{% url auth_logout %}" class="logout" title="Salir">logout</a>
            {% endif %}
          </div>
        </div>
        
        <div id="menu">
          <div class="m_menu">
            <ul>
              {% for state, menu in menus %}
              {% ifequal state "activo" %}
              <li><a href="#" class="actual" title="">{{ menu.name }}</a></li>
              {% else %}
              <li><a href="/{{ menu.url }}" title="">{{ menu.name }}</a></li>
              <a href=""></a>
              {% endifequal %}
              {% endfor %}
            </ul>
          </div>
          <div class="submenu" >
            {% for state, submenu in submenus %}
            {% ifequal state "activo" %}
            <a class="actualsub" style="text-decoration:underline;">{{ submenu.name }}</a>|
            {% else %}
            <a href="/{{ submenu.url }}">{{ submenu.name }}</a>|
            {% endifequal %}
            {% endfor %}
	  </div>

        </div>
        
        <div id="content">
        <div id="xbg1">
        </div>
        <div id="primaryContentContainer">
          <div id="secondaryContentRight">
            {% block secondaryContentRight %}
            {% endblock %}
          </div>

          <div id="primaryContentRight">
            {% block primaryContentRight %}
            {% endblock %}
          </div>

          <div id="primaryContentLeft" >
            {% block primaryContentLeft %}
            {% endblock %}
          </div>

          <div id="primaryContent" >
            {% block primaryContent %}
            {% endblock %}
          </div>
        </div>
        <div id="secondaryContentLeft">
            {% block secondaryContentLeft %}
            {% endblock %}
        </div>

        <div class="clear"></div>
      </div>
      <div id="footer">
        {% block footer %}
        <p><a href="/">Ghost Garbage</a> | <a href="http://wiki.ghost.webhop.org">Wiki Documentation</a></p>
        {% endblock %}
      </div>
    </div>
  </body>
</html>

          {% comment %}           
          <h3>Etiam suscipit et</h3>
          <p>Rhoncus ac, lacinia, nisl. Aliquam gravida massa eu arcu. <a href="#">More&#8230;</a></p>

          <h3>Fusce dolor tristique</h3>
          <p>Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada. <a href="#">More&#8230;</a></p>
          <h3>Nunc pellentesque</h3>
          <p>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in. <a href="#">More&#8230;</a></p>
          <h3>Ipsum Dolorem</h3>
          <ul>
            <li><a href="#">Sagittis Bibendum Erat</a></li>
            <li><a href="#">Malesuada Turpis</a></li>
            <li><a href="#">Quis Gravida Massa</a></li>
            <li><a href="#">Inerat Viverra Ornare</a></li>
          </ul>
          {% endcomment %}
            {% comment %} 
            <span class="titletext">Ghost Garbage</span>
	    {% if titlesection %}
	    <br />
	    <span class="titletext">{{ titlesection }}</span>
	    {% endif %}
	    <br />
            {% block maininfo %}
            
            <strong>Ghost Garbage</strong><br />
	    {% endblock %}
            

            <h2>Welcome to Sitename.com!</h2>
            <p><strong>Burned</strong> is a free template from <a href="http://freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. You're free to use it for both commercial or personal use. I only ask that you link back to <a href="http://www.freecsstemplates.org/">my site</a> in some way. Enjoy :)</p>
            <p>Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Nullam et orci in erat viverra ornare. Nunc pellentesque.</p>
            <p>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Quisque pellentesque semper massa:</p>
            <h3>Example Unordered List</h3>
            <ul>
              <li><a href="#">Suspendisse quis gravida massa felis.</a></li>
              <li><a href="#">Vivamus sagittis bibendum erat.</a></li>
              <li><a href="#">Nullam et orci in erat viverra ornare.</a></li>
              <li><a href="#">Suspendisse quis gravida massa felis.</a></li>
              <li><a href="#">Curabitur malesuada turpis nec ante.</a></li>
            </ul>
            <h3>Example Blockquote</h3>
            <blockquote>
              <p>Aliquam gravida massa eu arcu. Fusce mollis tristique sem. Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada turpis nec ante. Suspendisse quis felis. Suspendisse potenti. Nullam et orci in erat viverra ornare. Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus.</p>
            </blockquote>
            <h3>Example Table</h3>
            <table>
              <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Description</th>
              </tr>
              <tr class="rowA">
                <td>December 1, 2006</td>
                <td>Sed vestibulum blandit</td>
                <td>Vivamus sollicitudin dolor sit amet eros. Vivamus ligula. Sed pretium turpis eu ipsum. Sed rutrum sapien id arcu.</td>
              </tr>
              <tr class="rowB">
                <td>November 28, 2006</td>
                <td>Augue non nibh</td>
                <td>Nam adipiscing urna ac consequat dignissim massa est sodales sem.</td>
              </tr>
              <tr class="rowA">
                <td>November 23, 2006</td>
                <td>Fusce ut diam bibendum</td>
                <td>Vestibulum quis urn nulla facilis nam malesuada cursus turpis.</td>
              </tr>
              <tr class="rowB">
                <td>November 21, 2006</td>
                <td>Maecenas et ipsum</td>
                <td>Vivamus mi lectus gravida scelerisque, ultrices vitae cursus in neque.</td>
              </tr>
            </table>
            {% endcomment %}
