{% extends "main_template.html" %}



{% block primaryContent %}
<h2>HOLA {{ persona.nombre }}!!</h2><br />


<table style="width:100%" class="vcard">
  <tr>
    <!--cell-->
    <td style="vertical-align:top; width:170px">
      <form method="post">
      
      <table>
        <tr>
          <td style="padding:20px 20px 8px 20px" colspan="2">
            {% if persona.foto %}
            <img src="/static/media/{{ persona.foto }}" height="250" width="250" alt="" class="logo" >
            {% else %}
            <img src="/static/media/logogrup.png" height="250" width="250" alt="" class="logo" >
            {% endif %}
          </td>
          
        </tr>
          {{ form }}
        <tr><td></td><td><input type="submit" value="Cambiar Avatar"/></td></tr>
      </table>
      </form>
    </td>
    <!--cell-->
    
    <td style="vertical-align: top; width:350px">

    <table class="user-details">
      <tr>
        <td style="width:120px">Nombre</td>
        <td style="width:230px" class="fn nickname"><b>{{ persona.nombre }} {{ persona.apelliods }}</b></td>
      </tr>
      <tr>
        <td>member for</td>
        <td><span class="cool" title="2009-05-14 14:29:21Z">8 months</span></td>
        
      </tr>
      <tr>
        <td>Último Acceso</td>
        <td>{{ user.last_login|date:"d M  h:mA" }}</td>
      </tr>
      
      <tr>
        <td>user</td>
        
        <td>{{ user.username }}</td>
      </tr>
      
      <tr>
        <td>website</td>
        <td>
        <div class="no-overflow">{% if persona.url %}<a href="{{ persona.url }}" rel="nofollow me" class="url">{{ persona.url }}</a>{% else %} ----- {% endif %}</div>                                
        </td>
      </tr>

    </table>
  </td>
</tr>
</table>


{% endblock %}
