{% extends "registration/registration_template.html" %}
{% load i18n %}

{% block nameRegistration %}Entrar:{% endblock %}
{% block descriptionRegistration %}Ingrese su nombre de usuario y contraseña:{% endblock %}
{% block valueRegistration %}{% trans 'Change my password' %}{% endblock %}

{% block otrosRegistration %}
<a style="font-size: 14px;"  href="{% url registration_register %}"> Crear una cuenta</a><br>
<a style="font-size: 14px;"  href="{% url auth_password_reset %}"> Olvido su contraseña?</a>
{% endblock %}
