{% extends "main_template.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block primaryContentRight %}


{% if validlink %}

<h2>{% trans 'Enter new password' %}</h2>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post" >
<table>
{{ form }}
<tr><td colspan="2" style="text-align: right;"><input type="submit" value="{% trans 'Change my password' %}"/></td></tr>
</table>
</form>

{% else %}

<h2>{% trans 'Password reset unsuccessful' %}</h2>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}

{% endif %}

{% endblock %}


{% block secondaryContentLeft %}
<span style="text-align: center;"><img src="/static/media/logogrup.png"  width="85%" height="85%">
</span>

{% endblock %}



